{% extends "layout.html" %} {% block title %} book {% endblock %} {% block main %}

<img src={{cover}} alt="Cover Thumbnail" style="float:left">
<div id="text" style="padding-left: 150px; text-align: justify;">
    <p>
        {{description}}
    </p>
</div>
<div class="form-group">
    <form>
        <input type="button" onclick="window.location.href='/view_reviews.html';" value="View Reviews" />
        <input type="button" onclick="window.location.href='/make_reviews.html';" value="Add Review" />
    </form>
</div> {% endblock %}