{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block main %}
<form action="{{ url_for('index') }}" method="post">
    <fieldset>
        <div class="form-group">
            <form name="terms">
                Search Books by:
                <select name="search_value">
                <option value="title" selected>Title</option>
                <option value="author">Author</option>
                <option value="ISBN">ISBN</option>
                <option value="year">Year</option>
                </select>
        </div>
        <div class="form-group"></div>
        <input autocomplete="off" autofocus class="form-control" name="search_term" placeholder="Enter query" type="text" />
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Search</button>
        </div>
        </form>
    </fieldset>
</form>

{% endblock %}